<div class="todo-container"> 
    <div class="title-container"> 
      
       <img class="letters" height="100px" src="images/t_svgFormat.svg" alt="..."> 
       <img class="letters" src="images/O_SvgFormat.svg" alt="...">
       <img class="letters" src="images/d_svgFormat.svg" alt="...">
       <img class="letters" src="images/O_SvgFormat.svg" alt="..."> 
      
      
        <img class="letters" height="100px" src="images/L_svgFormat.svg" alt="..."> 
        <img class="letters" height="100px" src="images/i_svgFormat.svg" alt="...">
        <img class="letters" src="images/S_svgFormat.svg" alt="...">
        <img class="letters" height="100px" src="images/t_svgFormat.svg" alt="..."> 
       
    </div>
    <div class="todo-input"> 
      <input class="long-input" matInput
        type="text" 
        [(ngModel)]="newTodo" 
        placeholder="Add a new task" 
      /> 
      <div class="add-button-container">
      <button  class="futuristic-button" (click)="addTodo()">Add</button> 
       </div>
    </div>
   
    <ul class="todo-list"> 
      <li *ngFor="let todo of todos" [class.completed]="todo.completed" class="todo-item"> 
        <mat-checkbox 
        type="checkbox" 
        [checked]="todo.completed" 
        (change)="updateTodo(todo)" 
        >
        </mat-checkbox>
        
        <span>{{ todo.title }}</span> 
         <div class="button-container">
           <button class="futuristic-button" (click)="deleteTodo(todo.id!)">Delete</button>
         </div> 
      </li> 
    </ul> 
  </div>